extends _layouts/base

block append navigation
  -var selected = "Bricks Game";

block content
  canvas(id="gameCanvas",width="800",height="600")

block scripts
  script(src= baseUrl + 'scripts/main.js')
  script(src= baseUrl + 'scripts/bricks-game/bricks-game.js')
