extends _layouts/base

block append navigation
  -var selected = "Race Game";

block content
  canvas(id="gameCanvas",width="800",height="600")

block scripts
  script(src= baseUrl + 'scripts/main.js')
  script(src= baseUrl + 'scripts/graphics-common.js')
  script(src= baseUrl + 'scripts/ImageLoading.js')
  script(src= baseUrl + 'scripts/race-game/Car.js')
  script(src= baseUrl + 'scripts/race-game/Track.js')
  script(src= baseUrl + 'scripts/race-game/Input.js')
  script(src= baseUrl + 'scripts/race-game/race-game.js')
